<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>73833007760-oplvfkgp7q12sdibq4lja70j7qh37e4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73833007760-oplvfkgp7q12sdibq4lja70j7qh37e4j</string>
	<key>API_KEY</key>
	<string>AIzaSyCv16IkqXF15ID1sOBUgLQQIRMwpSSO2DA</string>
	<key>GCM_SENDER_ID</key>
	<string>73833007760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pollux.Accelerate</string>
	<key>PROJECT_ID</key>
	<string>accelerate-8bdaa</string>
	<key>STORAGE_BUCKET</key>
	<string>accelerate-8bdaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:73833007760:ios:bff39c01c9bafd24</string>
	<key>DATABASE_URL</key>
	<string>https://accelerate-8bdaa.firebaseio.com</string>
</dict>
</plist>